<!--
<h1>Signup</h1>
<form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Signup</button>
    <a href="{% url 'login' %}">Already have account?</a>
</form>
-->

<head>
    <title>Signup</title>

    <!-- using some google fonts for later css referencing -->
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@600&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
     <link href="/static/css/style.css" rel="stylesheet"/>
 </head> 
 
 <body>
   <h1>SEP300 SHARE-FILE APP</h1>
   <h3>Developed by Arian, Jasleen, Kevin</h3>
   <div style="width: 20%; height: 10%; border-top: 2.5px solid rgba(255, 255, 255, 0.8); margin: 0 auto;"></div>

   <div class="fancybox">
    <!-- using http post method for signup -->
     <form method="post">

        <!-- cross site request forgery attacks prevention -->
         {% csrf_token %}
         {{ form.as_p }}

         <!-- signup logic -->
         <button type="submit">Signup</button>
         <a href="{% url 'login' %}">Already have account?</a>
     </form>
     
   </div>
 </body>