<head>
    <title>ShareFile</title>

    <!-- using some google fonts for later css referencing -->
     <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap" rel="stylesheet">
     <link href="https://fonts.googleapis.com/css2?family=Spartan:wght@600&family=Ubuntu:wght@500&display=swap" rel="stylesheet">
     <link href="/static/css/style.css" rel="stylesheet"/>
 </head> 
 
 <body>
   <h1>SEP300 SHARE-FILE APP</h1>
   <h3>Developed by Arian, Jasleen, Kevin</h3>
   <div style="width: 20%; height: 10%; border-top: 2.5px solid rgba(255, 255, 255, 0.8); margin: 0 auto;"></div>

   <div class="fancybox">
    <!-- using http post method for submission -->
     <form method="post" enctype="multipart/form-data">

        <!-- cross site request forgery attacks prevention -->
         {% csrf_token %}

         <!-- defining the upload type as file -->
         <input type="file" name="document">
         <button type="submit">Upload file</button>
     </form>
   </div>
   
  <br>
  <!-- if url exists, then states it in the box -->
     {% if url %}
     <div class="fancybox">
         <p>Uploaded file: <a href="{{ url }}">{{ url }}</a></p>
     </div>

     <!-- or else say nothing found is found -->
     {% else %}
     <div class="fancybox">
        <p style = "color: white;">No upload found.</p>
     </div>

     {% endif %}
 
 </body>
 